*{
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    font-family: 'Lato',sans-serif;
}
body{
    background-color: burlywood;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;

}